.main_2_2_img_1{
    width: 70%;
    height: 50vh;
    background: url(https://i.yapx.ru/XRWd6.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 50px;
}

.main_2_2_img_2{
    width: 70%;
    height: 40vh;
    background: url(https://i.yapx.ru/XRWd8.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 50px;
}
