@media (max-width: 750px) {
    /* .header-menu{
        width: 200px;
    } */

    .header-title{
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .main-container{
        width: 160%;
        left: 0;
        transform: translate(0);
        margin: 50px;
    }

    *{
        font-size: 35px;
    }
    .header-title{
        font-size: 25px;
    }

    /* .themes-menu{
        width: 90%;
    } */
}

@media (max-width: 550px) {
    .main-container{
        width: 200%;
        height: 480vh;
        font-size: 10px;
    }

    .header-title{
        font-size: 35px;
    }
}

@media (max-width: 350px) {
    .main-container{
        font-size: 10px;
    }
}